* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background: linear-gradient(to right, #0f3443 50%, #0f3443 50%);  */
    background-attachment: fixed;
    background-image: url("../Images/question.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    width: 100%;
}

.navbar-custom {
    height: 100px;
    box-shadow: 0px 5px 10px black;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.logo img {
    width: 70px;
    border: 2px solid #34e89e;
    border-radius: 100px;
}

.top-list {
    width: 100%;
    background-color: #0f3443;
    display: flex;
    align-items: center;
}

.top-list li {
    list-style: none;
    color: #34e89e;
    font-family: 'Metal Mania';
    font-size: 40px;
    margin-left: 1%;
    display: flex;
}

.main-content {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.firsthalf {
    background-color: #0f3443;
    margin-left: 0%;
    width: 80%;
    display: flex;
    padding: 2%;
    flex-direction: column;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
}

.firsthalf:hover {
    opacity: 100%;
    transition: all 0.5s ease-out;
}

.question {
    font-family: 'Itim', cursive;
    color: #FFFFFF;
    font-size: 300%;
    justify-content: center;
    text-align: justify;
}

.pdf-file {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#pdf {
    height: 800px;
    width: 90%;
    border: 3px solid #34e89e;
    border-style: ridge;
    border-radius: 0%;
    box-shadow: 0px 0px 33px 0px #000;
}

.submission {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.form {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    border: 3px solid red;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 4%;
    border: 3px solid #34e89e;
    border-style: ridge;
    border-radius: 0%;
    box-shadow: 0px 0px 33px 0px #000;
    /* background-color: #0f3443; */
}

.mailing {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.field {
    width: 60%;
    border: 3px solid #34e89e;
    border-radius: 30px;
    padding: 15px;
    font-size: 22px;
    font-family: "Secular One", sans-serif;
    text-align: center;
    color: #0f3443;
}

.ibutton {
    width: 63%;
    border: 3px solid #34e89e;
    border-radius: 30px;
    background-color: #34e89e;
    padding: 10px;
    font-size: 22px;
    color: #0f3443;
    font-family: 'Secular One', sans-serif;
    font-size: large;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2%;
}

.mailing {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.ibutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.ibutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.ibutton:hover span {
    padding-right: 25px;
}

.ibutton:hover span:after {
    opacity: 1;
    right: 0;
}

.alternate {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    flex-direction: column;
}

#alternate-text {
    color: #ffffff;
    text-decoration: none;
}

#alternate-link {
    text-decoration: none;
    color: #34e89e;
    font-style: oblique;
    text-decoration: underline;
}